html {
    scroll-behavior: smooth;
}
body{
    font-family: 'Lato', sans-serif;
    margin:0;
    padding:0;
}

nav{
    background-color: #111;
    color: white;
    padding: 20px 50px;
}

.navTop{
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.search{
    display:flex;
    align-items: center;
    background-color: gray;
    padding: 10px 20px;
    border-radius: 10px;

}

.searchInput{
    border:none;
    background-color: transparent;
    color: white;
}

.searchInput::placeholder{
    color: lightgray;
}

.limitedOffer{
    font-size:20px;
    border-bottom: 2px solid green;
    cursor: pointer;
}

.navBottom{
    display: flex;
    align-items: center;
    justify-content: center;
}

.menuItem{
    margin-right:30px;
    cursor: pointer;
    color: lightgray;

}

.slider{
    overflow:hidden;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
}

.sliderWrapper{
   display:flex;
   width: 500vw;
   transition: all 1s ease-in-out;
}
.sliderItem{
    width: 100vw;
    display:flex;
    align-items: center;
    justify-content: center;
    position:relative;

}
.sliderTitle{
    position:absolute;
    top:10%;
    right:10%;
    font-size:60px;
    font-weight:900;
    text-align:center;
    color:black;
}
.sliderPrice{
    position:absolute;
    top:10%;
    left:10%;
    font-size:60px;
    font-weight:300;
    border: 2px solid black;
    background-color:rgba(0,0,0, 0.5);
    text-align:center;
    color:lime;
    z-index: 1;
}
.buyButton{
    position:absolute;
    top:50%;
    right:10%;
    font-size:30px;
    font-weight:900;
    border: 2px solid black;
    text-align:center;
    cursor:pointer;
    color:white;
    background-color:black;
    z-index: 1;
}
.buyButton:hover{
    background-color:white;
    color:black;
}

.sliderItem:nth-child(1) {
    background: url("https://images.unsplash.com/photo-1589320011687-3a8686ccf78d?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}
.sliderItem:nth-child(2) {
    background: url("https://images.unsplash.com/photo-1534673333511-fe0291e4dc35?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}
.sliderItem:nth-child(3) {
    background: url("https://images.unsplash.com/photo-1471174617910-3e9c04f58ff5?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}
.sliderItem:nth-child(4) {
    background: url("https://images.unsplash.com/photo-1662253273105-ace22515380a?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}
.sliderItem:nth-child(5) {
    background: url("https://images.unsplash.com/photo-1715372028425-c733b484e80e?q=80&w=2073&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}

.features{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;

}
.feature{
 display:flex;
 flex-direction: column;
 align-items: center;
 text-align:center;
}

.featureImage{
    width: 50px;
    height: 50px;
}

.featureTitle{
    font-size: 20px;
    font-weight:600;
    margin: 20px;
}

.featuredDesc{
    color:gray;
    width: 50%;
    height:100px;
}

.product {
    height: 100vh;
    background-color: whitesmoke;
    position: relative;
    clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%);
  }
  
  .productImg {
    width: 50%;
  }
  
  .productDetails {
    position: absolute;
    top: 10%;
    right: 0;
    width: 40%;
    padding: 50px;
  }
  
  .productTitle {
    font-size: 75px;
    font-weight: 900;
  }
  
  .productDesc {
    font-style: 24px;
    color: gray;
  }

  .productButton {
    float: right;
    padding: 10px 20px;
    background-color: black;
    color: white;
    font-weight: 600;
    cursor: pointer;
  }
  
  .productButton:hover {
    background-color: white;
    color: black;
  }

.colors, .sizes {
  display: flex;
  margin-bottom: 20px;
}

.color {
    width: 32px;
    height: 32px;
    border-radius: 5px;
    background-color: black;
    margin-right: 10px;
    cursor: pointer;
    border: 1px solid black;
  }
  
  .color:last-child {
    background-color: white;
    border: 1px solid black;
  }
  
  .size {
    padding: 5px 20px;
    border: 1px solid black;
    margin-right: 10px;
    cursor: pointer;
    font-size: 20px;
  }

  .payment {
    width: 500px;
    height: 600px;
    background-color: white;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding: 10px 50px;
    display: none;
    flex-direction: column;
    -webkit-box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
  }
  .label{
    font-size: 14px;
    font-weight: 300;
  }
  .payInput{
    padding: 10px;
    margin: 10px 0px;
    border: none;
    border-bottom: 1px solid gray;

  }

 .cardIcons{
  display:flex;
 }

 .cardIcon{
  margin-right: 10px;
 }

 .cardInfo{
  display: flex;
  justify-content: space-between;
 }

 .productImg {
  width: 50%
 }

 .sm{
  width: 30%;
 }

 .payButton{
  position: absolute;
  height: 40px;
  bottom: -40;
  width: 100%;
  left: 0;
  background-color: lightgray;
  border:none;
  cursor: pointer;
 }

 .payButton:hover{
  color:white;
  background-color: green;
 }

 .close{
  height: 20px;
  width: 20px;
  position: absolute;
  color:white;
  background-color: black;
  top: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor:pointer;
 }
 .close2{
  height: 20px;
  width: 20px;
  position: absolute;
  color:red;
  background-color: white;
  top: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor:pointer;
  border: 1px solid red;
 }
 .close2:hover{
  background-color:red;
  color:black;
 }

 .radiobox {
  display: flex;
  align-items: center;
  margin: 10px 0;
  padding: 8px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.radiobox:hover {
  background-color: #e6f7ff;
}

input[type="radio"] {
  margin-right: 10px;
}

label {
  font-size: 1rem;
  color: #333;
}

label p {
  display: inline;
  color: red;
  font-size: 0.9rem;
  margin-left: 5px;
}

#odliczanie {
  font-size: 1.2rem;
  color: #FF0000;
  font-weight: bold;
  margin-bottom: 20px;
}

img.stilo {
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 15px;
}

.sztilon {
  top: 150px;
  position:absolute;
  left: 40%;
  background-color: #ffffff;
  border: 2px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 400px;
  display:none;
  text-align: center;
}

.przycisk{
  position: absolute;
  bottom:0;
  left:18%;
  background-color: blue;
  color:white;
  width:300px;
  height:30px;
  font-weight:900;
}


  @media screen and (max-width:480px) {
    nav{
      padding: 20px;
    }
  
    .search{
      display: none;
    }
  
    .navBottom{
      flex-wrap: wrap;
    }
  
    .menuItem{
      margin: 20px;
      font-weight: 700;
      font-size: 20px;
    }
  
    .slider{
      clip-path: none;
    }
  
    .sliderImg{
      width: 90%;
    }
  
    .sliderBg{
      width: 100%;
      height: 100%;
    }
  
    .sliderTitle{
      display: none;
    }
  
    .sliderPrice{
      top: unset;
      bottom: -50;
      left: 0;
      background-color: lightgrey;
    }
  
    .buyButton{
      right: 0;
      top: 0;
    }
  
    .features{
      flex-direction: column;
    }
  
    .product{
      clip-path: none ;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .productImg{
      width: 80%;
    }
  
    .productDetails{
      width: 100%;
      padding: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      position: relative;
      top: 0;
    }
  
    .productTitle{
      font-size: 50px;
      margin: 0;
    }
  
    .gallery{
      display: none;
    }
  
    .newSeason{
      flex-direction: column;
    }
  
    .nsItem:nth-child(2){
      padding: 50px;
    }
  
    footer{
      flex-direction: column;
      align-items: center;
    }
  
    .footerLeft{
      padding: 20px;
      width: 90%;
    }
  
    .footerRight{
      padding: 20px;
      width: 90%;
      align-items: center;
      background-color: whitesmoke;
    }
  
    .payment{
      width: 90%;
      padding: 20px;
    }
    
  }